<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% include 'common.html' %}
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/index.js" type="application/javascript"></script>
</head>
<body>
<div class="login">
    <div class="header">
        <ul class="clearfix">
            <li class="title">注册</li>
            <li>登录</li>
        </ul>
    </div>
    <div class="content">
        <div class="caption">登录</div>
        <div>
            <p>用户名</p>
            <input name="username" type="text" class="username">
        </div>
        <div>
            <p>密码</p>
            <input name="password" type="password" class="password">
        </div>
        <div class="btns">
            登录
        </div>
        <div class="footer">
            <a style="margin-right: 6px;">立即注册</a>
            <a>忘记密码?</a>
        </div>
    </div>
</div>
</body>
</html>